<html>
<head>
    <title>Gumball Machine</title>
</head>

<body>
<h1 align="center">Gumball Machine</h1>

<!-- FORM SECTION -->
<form action= "/newindividualMachine" class="" id="signup-form" method="post" name="index-form">

<p align="center"><img src="/images/gumball.jpg"  width="160" height="316"></p>
     <p align="center">             <label class=
                                    "placeholder-sub">Serial No.</label>
                                 <input id="serialnum" name="serialNumber"
                                    placeholder="Serial #" required="required"
                                    type="text" value=""> 
                                    <br><br>
                                 <label class=
                                    "placeholder-sub">Modelno</label>   
                                 <input id="modelNumber" name="modelNumber"
                                    placeholder="Model #" required="required"
                                    type="text" value=""> 
                                      <br><br>
                                    <label class=
                                    "placeholder-sub">Count of Gumballs</label>
                                  
                                 <input id="countOfGumballs" name="count"
                                    placeholder="Count" required=
                                    "required" type="number" value="">
                                 <hr>
                                 </p>
                                <p align="center">  <button class=
                                    "ybtn ybtn-primary ytype disable-on-submit submit index-button"
                                    id="add-button" type="submit" value=
                                    "index"><span>Add</span></button> </p>
                              </form>
                               <a class="ybtn ybtn-primary header-button sign-up" id="header-sign-up" href="/list">List</a>
                           </div>
                           </p>
                           
       </body>
       </html>